﻿.elemento-inline {
        display:inline-block;
}

.seccion-busqueda {
    border-radius: 5px;
    width:100%;
    padding:15px;
    margin-bottom: 20px

}

.form-columna{
    width:40%;
    display:inline-block;
    margin-bottom:15px;
}

.contenedor-botones-modal{
    margin-top:15px;
    margin-bottom:20px;
}

.contenidoModal{
    padding:15px;
}